body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.0;
}

header {
  background-color: #8ACE00;
  color: black;
  padding: 1rem 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

#sign-in-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #8ACE00;
  border: 1px solid #8ACE00;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000000;
  border-radius: 5px;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #8ACE00;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #ffffff;
}

#sign-in-container p {
  margin-top: 20px;
  font-size: 14px;
  color: #000000;
}

#sign-in-container p a {
  color: #ffffff;
  text-decoration: none;
}

#sign-in-container p a:hover {
  text-decoration: underline;
}